@use "../../assets/styles/index" as *;

.home-wrapper {
  background-color: $light-purple;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-text {
    text-align: center;

    text-align: center;

    padding-top: 20px;
    .dark-text {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      @media #{$bp-md} {
        font-size: 50px;
      }
      line-height: 64px;
      color: #240d57;
    }
    .section-bottom {
      margin-bottom: 20px;
    }
    .gradient-text {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      @media #{$bp-md} {
        font-size: 50px;
      }
      line-height: 74px;

      background: -webkit-linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .summary-text {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      @media #{$bp-md} {
        font-size: 20px;
      }
      line-height: 28px;

      color: #4f4f4f;
    }
  }
  .movie-container {
    .movie-img {
      position: relative;

      width: 400px;
      @media #{$bp-md} {
        width: 300px;
      }
      @media #{$bp-sm} {
        width: 60vw;
      }
    }
  }
  .create-btn {
    background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
    width: 320px;
    border-radius: 10px;
    font-weight: 700;
    font-size: $font-lg;
    padding: 8px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
}
