// for the most common breakpoints
$bp-xl: "screen and (max-width: 1680px)";

$bp-lg: "screen and (max-width: 1450px)";

$bp-md: "screen and (max-width: 1250px)";

$bp-sm: "screen and (max-width: 800px)";

$bp-xs: "screen and (max-width: 500px)";
